# built file extensions
*.so
*.o
*.os
*.dll
*.a
*.lib

# outputs
*.log

# configurations
*.ini

# python compilation
*__pycache__*

# vs code user configuration
.vscode

# valgrind core dump
vgcore*

# gdb
.gdb*

# outputs
*.bmp

# modules specific
imgui/imgui
lua/luabridge

# build specific
build/*
dist/*
.installed
.build_cache
.cache

# scons
.scon*

# python venv
.venv
.venv/*

# vcpkg
.vcpkg
.vcpkg/*

# env
.env.d

.github